:root {
    --square-size: calc(100vmin / 8.5);
    --icon-size: calc(var(--square-size)*0.7);
    --icon-padding: calc(var(--square-size)*0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.box {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: var(--square-size);
    width: var(--square-size);
}

.row:nth-child(odd) .square:nth-child(even) {
    background-color: #a47963;
}

.row:nth-child(even) .square:nth-child(odd) {
    background-color: #a47963;
}

.row:nth-child(even) .square:nth-child(even) {
    background-color: #d8b4a0;
}

.row:nth-child(odd) .square:nth-child(odd) {
    background-color: #d8b4a0;
}

.square i {
    font-size: var(--icon-size);
    padding: var(--icon-padding);
}